[submodule "ai-skills/.repos/superpowers"]
	path = ai-skills/.repos/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "ai-skills/.repos/openai-skills"]
	path = ai-skills/.repos/openai-skills
	url = https://github.com/openai/skills.git
[submodule "ai-skills/.repos/tob-skills"]
	path = ai-skills/.repos/tob-skills
	url = https://github.com/trailofbits/skills.git
[submodule "ai-skills/.repos/scientific-skills"]
	path = ai-skills/.repos/scientific-skills
	url = https://github.com/K-Dense-AI/claude-scientific-skills.git
[submodule "ai-skills/.repos/ai-research-skills"]
	path = ai-skills/.repos/ai-research-skills
	url = https://github.com/Orchestra-Research/AI-research-SKILLs.git
[submodule "ai-skills/.repos/my_skills"]
	path = ai-skills/.repos/my_skills
	url = git@github.com:haotang1995/my_skills.git
